body {
    background-image: url("https://www.formula1.com/content/dam/fom-website/manual/Misc/ImolaManualAdds/GettyImages-1266598528.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}